<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Service</title>
</head>
<body>
    {% extends "layout.html" %}

    {% block content %}
    <div class="container my-2">
        <h1>Welcome</h1>
        <br>
        <img src="../static/pills.png" width="183">
        <p>Drug Classification</p>
        <a class="btn btn-primary" href="/drug" role="button">Click</a>
        <br>
        <img src="../static/car.png" width="183">
        <p>Car Price Prediction</p>
        <a class="btn btn-primary" href="/car_price" role="button">Click</a>
    </div>
    
    {% endblock %}
</body>
</html>